.container {
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.create_meet {
  padding: 10px;
  color: black;
  background-color: white;
  border: 1px solid black;
  outline: none;
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.create_meet:hover {
  border: none;
  color: white;
  background-color: black;
}

.input {
  border: 1px solid black;
  padding: 6px 10px;
  font-size: 16px;
  outline: none;
}